@charset "UTF-8";
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yantramanav";
  src: url("../fonts/Yantramanav-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: "Heebo";
  color: #fff;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  background: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
:root {
  --main-bg: #131619;
  --border-radius: 30px;
  --header-height: 90px;
  --small-text-color: rgb(196, 196, 196);
  --border-color: rgb(64, 64, 64);
  --input-border: 1px solid var(--border-color);
}

body {
  background-color: var(--main-bg);
  font-family: "Heebo";
}

.bigtext {
  font-family: "Heebo";
  letter-spacing: 1;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 15px;
  text-align: center;
}
.bigtext h3 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  line-height: 72px;
  margin-bottom: 20px;
}
.bigtext h3 div {
  position: absolute;
  top: -85%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
  line-height: 180px;
}
.bigtext h3 svg {
  display: block;
  position: absolute;
  top: 0;
  left: -35px;
}
.bigtext p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

@media (max-width: 1000px) {
  .bigtext h3 {
    font-size: 6vw;
    margin-bottom: 2vw;
  }
  .bigtext p {
    font-size: 2vw;
  }
  .bigtext svg {
    width: 3.4vw;
    left: 3.5vw;
  }
}
.smalltext {
  font-family: "Heebo";
  line-height: 52px;
  letter-spacing: 1;
  text-align: left;
  position: relative;
}
.smalltext h3 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
.smalltext p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.8px;
  margin-bottom: 30px;
}
.smalltext svg {
  position: absolute;
  top: 0;
  left: -35px;
  z-index: 1;
}

.bgtext {
  color: rgb(0, 0, 0);
  font-family: "Yantramanav";
  font-weight: 700;
  font-size: 2.8em;
  text-align: left;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #404040;
  text-stroke: 1px #404040;
  position: absolute;
  z-index: -1;
  top: -0.1em;
  left: -0.6em;
}

.header {
  height: var(--header-height);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.2px;
  font-weight: 700;
}
.header img {
  display: block;
  width: 135.09px;
  height: 24.98px;
}
.header ul {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}

.header-pageType {
  position: relative;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.2px;
  font-weight: 700;
}

.header-selected::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  top: 6px;
  right: -11px;
}

.header-buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 39px;
       column-gap: 39px;
}
.header-buttons a {
  width: 123.73px;
  height: 38px;
  background-color: white;
  text-align: center;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-bg);
  border-radius: var(--border-radius);
}
.header-buttons svg {
  display: block;
}

@media (max-width: 1000px) {
  .header ul {
    display: none;
  }
}
@media (max-width: 430px) {
  .header-buttons a {
    display: none;
  }
}
.title {
  position: relative;
  font-weight: 700;
  height: calc(100vh - var(--header-height));
}
.title h1 {
  text-transform: uppercase;
  font-family: "Heebo";
  font-size: min(17.75vw, 360px);
  font-weight: 700;
  width: 50vh;
}

.title-cover {
  position: absolute;
  left: min(3.69%, 71px);
  bottom: 10%;
}

.title-info {
  display: flex;
  align-items: end;
  font-family: "Heebo";
  font-weight: 700;
  font-size: min(1.48vw, 30px);
  line-height: min(38px, 1.97vw);
  text-transform: uppercase;
  white-space: nowrap;
}

.title-info::before {
  content: "";
  background: url("../img/title.svg") center/contain no-repeat;
  width: min(10vw, 194px);
  aspect-ratio: 1;
  margin-right: min(100px, 4.8%);
  margin-left: min(50px, 2.6%);
}

.title-pagination {
  display: flex;
  -moz-column-gap: 14px;
       column-gap: 14px;
  position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
}
.title-pagination button {
  width: 10px;
  height: 10px;
  border: #ffffff 1px solid;
  border-radius: 50%;
}

.title-selected {
  background-color: white;
}

.motivation-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 637px;
}
.motivation-item img {
  height: 120%;
}

.motivation li:nth-child(odd) {
  background: #000;
  flex-direction: row-reverse;
}
.motivation li:nth-child(odd) .motivation-text {
  margin-top: -50px;
}

.motivation li:nth-child(even) .motivation-text {
  margin-bottom: -50px;
}

.motivation-text {
  max-width: 399px;
}

.input {
  width: 100%;
  height: 54px;
  color: rgb(196, 196, 196);
  font-family: "Heebo";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
  text-align: left;
  align-items: flex-start;
  padding-inline: 27px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.select {
  text-transform: none;
  border: var(--input-border);
  border-radius: var(--border-radius);
  background-color: inherit;
  color: var(--small-text-color);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  line-height: 54px;
}

.button {
  text-transform: uppercase;
  height: 54px;
  width: 192.97px;
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  text-align: left;
  padding-inline: 31px;
  border-radius: var(--border-radius);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.3px;
  position: relative;
  display: block;
}

.button::after {
  content: "";
  background: url("../img/arrow-top-right.svg") center/70% no-repeat;
  height: 100%;
  display: inline-block;
  aspect-ratio: 1;
  border-radius: 50%;
  border: #ffffff 1px solid;
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: content-box;
}

@media (max-width: 1330px) {
  .motivation-item img {
    height: 108%;
  }
}
@media (max-width: 1100px) {
  .motivation {
    display: block;
  }
  .motivation-item {
    display: block;
    height: 100%;
    padding-block: 10%;
  }
  .motivation-item button {
    margin: 0 auto;
  }
  .motivation-text {
    margin: 0 auto;
    display: block;
    max-width: 60%;
    text-align: center;
  }
  .motivation-text .bgtext {
    left: 50%;
    transform: translate(-50%);
  }
  .smalltext h3 {
    font-size: 3.63vw;
    line-height: 4.72vw;
  }
  .smalltext p {
    font-size: 1.45vw;
    line-height: 2.54vw;
  }
  .smalltext svg {
    width: 2.36vw;
    left: -3.18vw;
  }
  .motivation li:nth-child(even), .motivation li:nth-child(odd) {
    display: block;
  }
  .motivation li:nth-child(even) img, .motivation li:nth-child(odd) img {
    display: block;
    width: 60%;
    height: auto;
    margin-inline: auto;
    align-self: center;
  }
  .motivation li:nth-child(even) .motivation-text, .motivation li:nth-child(odd) .motivation-text {
    margin-top: 10%;
    margin-bottom: 0;
  }
}
@media (max-width: 700px) {
  .input, .button, .select {
    height: 8vw;
    line-height: 8vw;
    width: 30vw;
    font-size: 1.85vw;
    padding-inline: 4vw;
  }
}
.crossfit-types {
  position: relative;
  background: #000;
  padding: 90px 15px;
}

.crossfit-types-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 60px;
  max-width: 1920px;
  margin-inline: auto;
}

.crossfit-types-item {
  padding-top: 80px;
  padding-right: 80px;
}
.crossfit-types-item img {
  margin: 0 auto;
  display: block;
}
.crossfit-types-item h4 {
  text-align: center;
  font-family: "Heebo";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.crossfit-types-item-cover {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 32px;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
}

.crossfit-types-item-arrow {
  position: absolute;
  width: 80px;
  aspect-ratio: 1;
  bottom: 100%;
  left: 100%;
}

@media (max-width: 1450px) {
  .crossfit-types-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .crossfit-types-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .crossfit-types-list {
    grid-template-columns: 1fr;
  }
}
.joinus {
  position: relative;
}
.joinus .joinus-bg {
  display: block;
  width: 100%;
}
.joinus .joinus-main {
  height: 66.666%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.joinus .joinus-playbutton {
  height: 22.222%;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.joinus a {
  display: block;
}
.joinus svg {
  height: 100%;
  width: 100%;
}
.joinus .joinus-text {
  width: 100%;
  display: block;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 55%);
  display: flex;
  justify-content: center;
  font-size: min(9.875vw, 180px);
}
.joinus .joinus-text h2 {
  font-family: "Heebo";
  line-height: 1;
  font-weight: 700;
  text-align: center;
}
.joinus .joinus-text img {
  height: min(6.614vw, 127px);
  position: relative;
  top: 5px;
  height: 0.7em;
}

.go {
  padding-inline: 10px;
}
.go form {
  width: 100%;
}
.go fieldset {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 18px;
  justify-content: center;
  margin-top: 40px;
}
.go input {
  max-width: 399px;
  width: 100%;
}

.go-cover {
  margin: 150px auto;
}

@media (max-width: 863px) {
  .go-cover fieldset {
    flex-direction: column;
  }
  .go-cover fieldset button, .go-cover fieldset input {
    margin: 0 auto;
  }
}
.findus {
  background: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.findus img {
  width: 100%;
  height: auto;
}

.findus-text {
  text-align: center;
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.findus-text h3 div {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.findus-text button {
  text-transform: uppercase;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .findus {
    display: block;
  }
}
.family {
  padding-block: 60px;
}

.family-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.family-scroll-cover {
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 26px;
       column-gap: 26px;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  margin: 0 auto;
}

.family-scroll-item {
  scroll-snap-align: start;
}

.calculate {
  display: flex;
  -moz-column-gap: 36px;
       column-gap: 36px;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding-block: 150px;
  padding-inline: 75px;
  overflow: hidden;
}

.calculate-form {
  flex: 0 0 50%;
}
.calculate-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px 30px;
}
.calculate-form form select, .calculate-form form input {
  width: 100%;
}

.calculate-form-long {
  grid-column: span 2;
}

.calculate-table {
  flex: 1 1 auto;
  text-align: left;
  font-size: 16px;
  line-height: 57px;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
}
.calculate-table table {
  align-self: center;
  margin: 0 auto;
  position: relative;
  border-collapse: collapse;
}
.calculate-table table th, .calculate-table table td {
  text-align: left;
  padding-right: 30px;
}
.calculate-table table th {
  text-transform: uppercase;
  line-height: 66px;
}
.calculate-table tbody {
  color: var(--small-text-color);
}
.calculate-table tbody td {
  border-top: var(--input-border);
}
.calculate-table tfoot td {
  padding-top: 35px;
  line-height: 14px;
  font-size: 14px;
}
.calculate-table tfoot td b {
  font-size: 16px;
  letter-spacing: 1px;
}

.calculate-table::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  aspect-ratio: 1;
  width: 100%;
  background-color: #000;
  border-radius: 50%;
}

td:not(:last-child),
th:not(:last-child) {
  border-right: var(--input-border);
}

td:nth-child(even),
th:last-child {
  padding-left: 31px;
}

.calculate-table-halfborder {
  position: relative;
}

.calculate-table-halfborder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 70%;
  background-color: var(--border-color);
}

td {
  text-align: left;
}

@media (max-width: 1200px) {
  .calculate {
    flex-direction: column-reverse;
  }
  .calculate-table {
    margin-bottom: 130px;
  }
}
@media (max-width: 650px) {
  .calculate-table {
    line-height: 39px;
  }
  .calculate-table table th {
    line-height: 44px;
  }
  .calculate-table table tfoot td {
    padding-top: 20px;
  }
}
@media (max-width: 570px) {
  .calculate-table {
    margin-bottom: 80px;
  }
  .calculate-table::before {
    overflow: hidden;
    width: 900px;
    aspect-ratio: 3;
  }
  .calculate {
    padding-inline: 35px;
    padding-block: 80px;
  }
  .calculate-form form {
    grid-template-columns: 1fr;
  }
  .calculate-form .calculate-form-long {
    grid-column: 1 span;
  }
}
@media (max-width: 410px) {
  .calculate-table {
    font-size: 12px;
  }
  .calculate-table table td:nth-child(even),
  .calculate-table table th:last-child {
    padding-left: 10px;
  }
  .calculate-table table th, .calculate-table table td {
    padding-right: 0px;
  }
  .calculate-table table tfoot td {
    padding-top: 12px;
    font-size: 10px;
  }
  .calculate-table table tfoot td b {
    font-size: 10px;
    letter-spacing: 1;
  }
}
footer {
  background: #000;
  padding: 100px 15px;
}

.footer-cover {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  row-gap: 30px;
  -moz-column-gap: 70px;
       column-gap: 70px;
  grid-template-columns: repeat(4, 1fr);
}

.footer-column h4 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.footer-column p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.8px;
  text-align: left;
}

.footer-input {
  position: relative;
}
.footer-input input {
  max-width: 302.5px;
  width: 100%;
}
.footer-input button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  aspect-ratio: 1;
  border: 1px white solid;
  border-radius: var(--border-radius);
}
.footer-input button::after {
  content: "";
  background: url("../img/arrow-top-right.svg") center/70% no-repeat;
  height: 100%;
  display: inline-block;
  aspect-ratio: 1;
  border-radius: 50%;
  border: #ffffff 1px solid;
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: content-box;
}

.footer-title {
  grid-column: span 3;
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.footer-logo {
  max-width: 100%;
}

.footer-links {
  display: flex;
  gap: 15px;
  margin-top: 35px;
}

.bottom-end {
  padding: 15px;
  max-width: 1330px;
  margin: 0 auto;
  font-family: "Heebo";
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 1px;
}

@media (max-width: 1050px) {
  .footer-input {
    display: inline-block;
  }
  .footer-cover {
    grid-template-columns: 1fr 1fr;
  }
  .footer-logo, .footer-title {
    grid-column: span 2;
  }
}
@media (max-width: 500px) {
  .footer-cover {
    grid-template-columns: 1fr;
  }
  .footer-logo, .footer-title {
    grid-column: span 1;
    font-size: 12px;
    line-height: 20px;
  }
  .footer-column h4 {
    font-size: 16px;
  }
  .footer-column p {
    font-size: 10px;
    line-height: 16px;
  }
  .bottom-end {
    font-size: 10px;
    line-height: 14px;
  }
}/*# sourceMappingURL=main.css.map */
